.menu_bar {
  width: 140px;
  height: 391px;
}

h3 {
  font-size: 16px;
  color: #276692;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

.button {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 7px;
  width: 90px;
}
