.container {
  width: 96%;
  max-width: 1200px;
  margin: 30px auto 30px auto;
  overflow: hidden;
  clear: both;
  position: relative;
  top: 80px;
}

.main_content {
  float: left;
  width: 100%;
  padding-right: 330px;
  box-sizing: border-box;
}

